@media only screen and (min-width: 0) and (max-width: 767px) {
  
	body { padding: 10px; }

	#header {
		top: 10px;
		left: 10px;
	}

	#header ul li {
		display: block;
		margin: 0;
	}
	
	.name { margin: 0 0 20px 0 !important; }

	.content { margin-top: 130px; }

	.work { display: block; }

	.work img { 
		width: 100%; 
		margin: 0 0 20px 0;
	}

	.about { width: 100%; }

	.m1, .m2, .m3, .m4, .m5, .m6, .m7 { margin: 0; }


} 